.chat-header{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    &_left {
        height: 28px;
        display: flex;
    }
    &_left-name{
        align-self: center;
    }
    &_left-uid{
        align-self: flex-end;
        font-size: 10px;
        color: gray;
        padding-left: 2px;
    }

    &_middle{
        color:cornflowerblue;
    }

    &_right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}